body {
    font-family: 'Roboto Mono', monospace;
    background-color: white;
    color: #000000;
}

header {
    font-size: 150%;
    text-align: center;
}

.round {
    font-size: 170%;
    text-align: center;
    margin-top: 5%;
}

#round-number {
    color: rgb(122, 198, 9);
    
}


.choice {
    display: inline-block;
}

