body {
    font-family: 'Roboto Mono', monospace;
    background-color: white;
    color: #000000;
}

header {
    font-size: 150%;
    text-align: center;
}

.round {
    font-size: 170%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#round-number {
    color: #7ac609;
}

.gameplay-area {
    width: 100%;
    height: auto;
    border: #7ac609 2px;
}


.scores {
    text-align: center;
    color: #000000;
    font-size: 125%;
    position: relative;
    padding-bottom:2.5%
}

.player-area {
    float: left;
    width: 50%;
    height: auto;
    border-right: white 1% solid;  
    padding-bottom: 5%;
}

.player-area img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 250px;
    
    
}

.player-id {
    position: relative;
    text-align: center;
    font-size: 150%;
    color: #ea4646;
}

.computer-area {
    height: auto;
    width: 50%;
    float: right;
    border-left: white 1% solid;
    padding-bottom: 5%;
}

.computer-area img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 250px;
}

.computer-id {
    position: relative;
    text-align: center;
    font-size: 150%;
    color: #4672ea;
}

.button-container {
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;
    padding-top: 10%;
    text-align: center;
}

.button-container p {
    margin-top: 5%;
    position: relative;
    text-align: center;
    font-size: 150%;
    color: #7ac609;
}


.choice {
    display: inline-block;
    background-color: white;
    border-color: white 2px solid;
}

.choice:hover {
    border: #ea4646 5px solid;
}


